* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4F2EE;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    background-color: #F4F2EE;
    border-bottom: 2px solid #BEBDBA
}

.logoContainer {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

img#logo {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.iconContainer {
    width: 42px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    margin-bottom: -3px;
    border-bottom: 2px solid #BEBDBA;
}

.iconContainer p {
    font-size: 0.8em;
    color: #666666;
}


.iconContainer i {
    color: #666666;
    font-size: 1.2em
}

header div:nth-of-type(3) i {
    color: #191919;
}

.iconContainer:hover {
    border-bottom: 2px solid black;
}

.iconContainer:hover p, .iconContainer:hover i {
    color: #191919;
}


section#search {
    position: relative;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

section#search::after {
    width: 600px;
    max-width: 90%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #BEBDBA;
}

.headerCard {
    min-width: 600px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    border: 2px solid #DFDEDA;
    padding: 15px;
    border-radius: 8px;
}

input {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-radius: 20px;

}

input, input::placeholder {
    color: #353535;

}

input:hover {
    background-color: rgba(21, 21, 21, 0.096);
}



.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px
}



button {
    padding: 8px;
    border-radius: 20px;
    font-size: 0.8em;
    border: 1px solid #AAAAAA;
    background-color: white;
    align-items: center;
    cursor: pointer;
}

button:active, button:hover {
    border: 1px solid #3b3b3b;
    background-color: rgba(21, 21, 21, 0.096);
}

#buttonIcon, #refreshIcon {
    font-size: 0.8em;
    background-color: transparent;
}



.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    background-color: white;
}

.impiego, .posizione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.impiego label, .posizione label, .buttonContainer {
    background-color: white;
}

.userImg {
    width: 50px;
    height: 50px;
    background-image: url("../img/user.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex-shrink: 0;
}



.card, .cardError {
    width: 600px;
    max-width: 90%;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    border: 2px solid #DFDEDA;
    border-radius: 8px;
}



ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

ul li h2 {
    text-align: left;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 700;
}

ul li div {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

ul li div i {
    background-color: transparent;
    margin-right: 15px;
    font-size: 0.9em;
}

ul li p {
    background-color: transparent;
    color: rgb(27, 58, 169);
    font-size: 1.05em;
    font-weight: 500;
}





.cardError {
    border: 2px solid red;
    background-color: rgba(255, 101, 101, 0.329);
}

strong.strongError {
    color: rgb(236, 50, 50);
    background-color: rgba(255, 101, 101, 0.329);
}

#cardRisultati {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#risultati>h2 {
    text-align: center;
    background-color: transparent;
    color: #1699daa7;
}

#risultati {
    background-color: white;
    width: 100%;
}

ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}

li {
    list-style: none;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #AAAAAA;
    background-color: white;
    transition: scale 0.3s ease-in
}

li:hover {
    scale: 1.05;
    background-color: rgba(21, 21, 21, 0.096);
}